$flex-map: (
  flex: (
    values: auto 1,
  ),
  flex-direction: (
    prefix: flex,
    values: (
      row: row,
      col: column,
      row-reverse: row-reverse,
      col-reverse: column-reverse,
    ),
  ),
  flex-shrink: (
    values: 0 1,
  ),
  flex-wrap: (
    prefix: flex,
    values: wrap nowrap wrap-reverse,
  ),
  justify-content: (
    prefix: justify,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    ),
  ),
  align-items: (
    prefix: align,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    ),
  ),
);
