$margin-map: (
  margin: (
    prefix: mg,
    values: 0 auto,
  ),
  margin-top: (
    prefix: mg-top,
    values: 0 auto,
  ),
  margin-left: (
    prefix: mg-left,
    values: 0 auto,
  ),
  margin-right: (
    prefix: mg-right,
    values: 0 auto,
  ),
  margin-bottom: (
    prefix: mg-btm,
    values: 0 auto,
  ),
);
