$padding-map: (
  padding: (
    prefix: pd,
    values: 0 auto,
  ),
  padding-top: (
    prefix: pd-top,
    values: 0 auto,
  ),
  padding-left: (
    prefix: pd-left,
    values: 0 auto,
  ),
  padding-right: (
    prefix: pd-right,
    values: 0 auto,
  ),
  padding-bottom: (
    prefix: pd-btm,
    values: 0 auto,
  ),
);
