$size-map: (
  width: (
    prefix: wd,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      full: 100%,
      auto: auto,
    ),
  ),
  min-width: (
    prefix: min-wd,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      full: 100%,
      auto: auto,
    ),
  ),
  max-width: (
    prefix: max-wd,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      full: 100%,
      auto: auto,
    ),
  ),
  height: (
    prefix: hg,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      full: 100%,
      auto: auto,
    ),
  ),
  min-height: (
    prefix: min-hg,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      full: 100%,
      auto: auto,
    ),
  ),
  max-height: (
    prefix: max-hg,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      full: 100%,
      auto: auto,
    ),
  ),
);
